body {
    background: linear-gradient(135deg, #2193b0, #ffbc67);
    margin: 0;
    color: white;
    font-family: sans-serif;
    text-align: center;

    /* Dòng này quan trọng nhất: ép chiều cao trang web dài gấp 3 lần màn hình */
    height: 300vh; 
}
